<ion-header>
  <ion-toolbar>
    <ion-title>
      BMI Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>Height</ion-label>
        <ion-input type="number" name="height" [(ngModel)]="height"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Weight</ion-label>
        <ion-input type="number" name="weight" [(ngModel)]="weight"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Bmi</ion-label>
        <ion-input type="number" name="bmi" readonly value="{{bmi | number : '1.2-2'}}"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button expand="block" (click)="calculate()">Calculate</ion-button>
    </div>
  </div>
</ion-content>